<h1 align="center">list Book</h1>
<form method="GET" action="{{ path('list_book') }}">
                 <label for="ref"><h4>Search by Réf:</h4></label>
                 <input type="text" id="ref" name="ref"/>
                 <button type="submit">Search</button>
           </form>
<a href="{{ path('add_book')}}">Add Book</a>
<table border="1" align="center">
    <tr>
        <td>ref</td>
        <td>title</td>
        <td>published</td>
        <td>Author</td>
        <td>publication_date</td>
        <td>category</td>
        <td>Action</td>
    </tr>
    {% set published= 0 %}
    {% set notPublished= 0 %}
{% for Book in tabBooks %}
 {% if Book.published == true %}
        {% set published= published+1 %}
        {% else %}
        {% set notPublished= notPublished+1 %}
        {% endif %}
    <tr>
        <td>{{ Book.ref }}</td>
        <td> {{ Book.title|upper }}</td>
        <td> {{ Book.published }}</td>
        {#<td>{{ Book.publicationDate }}</td>  #}
        <td>{{ Book.author }}</td>
         <td>{{ Book.publicationDate|date('Y-m-d H:Book:s') }}</td>
         <td>{{ Book.category }}</td>
         <td><a href="{{path('show_book',{ref:Book.ref})}}">Show</a>
            <a href="{{path('update_book',{ref:Book.ref})}}">Update</a>
            <a href="{{path('remove_book',{ref:Book.ref})}}">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>
<h3>Nb_Books= {{ tabBooks|length }}</h3>
<h3>Books Published: {{ published}} </h3>
<h3>Books notPublished: {{ notPublished }}</h3>
 {#<h4>Romance Books  = {{ romancebooks| length }}</h4>