<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'class': 'my-form'}}) }}
            <div class="form-group">
                {{ form_label(form.NomUserReclamation, 'User Name', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.NomUserReclamation, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.textReclamation, 'Reclamation Text', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.textReclamation, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateReclamation, 'Date', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.dateReclamation, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
